body{
    margin: 0%;
}

main{
    min-height: 100vh;
}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    
    width: 4%;
    height: 4%;
    display: flex;
}