body{
    margin: 0%;
}

main{
    min-height: 100vh;
}

header{
    box-sizing: border-box;
    box-shadow: 0 3px #0000001f;
}

.fancy{
    display: flex;
    gap: 20px;
    text-align: center;
}

.imgCard{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 3%;
    height: 3%;
    display: flex;
}