body{
    margin: 0%;
}

main{
    min-height: 100vh;
}

header{
    box-sizing: border-box;
    box-shadow: 0 3px #0000001f;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo{
    width: 4%;
    height: 4%;
    display: flex;
}